
html{
    background-color: #F63049;
}
div {
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    
H1 {
    font-family:" Libre Baskerville", serif;
    color:  white;
    text-align: center;
    text-transform: uppercase;
    
}
img{ 
    border: 10px gold solid;
    width: 100%;
    height: 400px;

}
P{
    color: #FFD41D;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

}